---
http_interactions:
- request:
    method: get
    uri: https://liquipedia.net/rocketleague/api.php?action=parse&format=json&page=Esports_World_Cup/2025&prop=parsetree&section=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.json
    body:
      encoding: ASCII-8BIT
      string: '{"parse":{"title":"Esports World Cup/2025","pageid":155697,"parsetree":{"*":"<root><h
        level=\"2\" i=\"1\">==About==</h>\nThe ''''''Esports World Cup'''''' is a
        tournament series that was announced in late 2023, building off the previously
        established [[Gamers8]] series. ''''''Rocket League'''''' was announced to
        be returning as part of the 2025 line-up on December 15, 2024.<ext><name>ref</name><attr>
        name=&quot;EWC RL&quot;</attr><inner>{{cite web|url=https://www.rocketleague.com/en/news/rlcs-2025-updates|title=RLCS
        2025: Updates:|date=2024-12-15|author=Psyonix|language={{FlagNoLink|usuk}}
        English}}</inner><close>&lt;/ref&gt;</close></ext><ext><name>ref</name><attr>
        name=&quot;RL&quot;</attr><inner>{{cite web|url=https://www.x.com/ewc_en/status/1868340246724690075|title=Refuel
        and return to the pitch|date=2024-12-15|author=EWC|language={{FlagNoLink|usuk}}
        English}}</inner><close>&lt;/ref&gt;</close></ext>\n:''''See [[esports:Esports_World_Cup/2025|here]]
        to read about the Esports World Cup 2025, the Calendar, the Club Standings
        and more.''''\n\n<h level=\"3\" i=\"2\">===Format===</h>\n*''''''Group Stage''''''
        - ''''August 14th - 16th, 2025''''\n** 16 teams divided into 4 groups where
        they play GSL Format.\n*** All matches are <template><title>Abbr/Bo5</title></template>.\n**
        &lt;span class=&quot;bg-up&quot;&gt;Top 2 teams&lt;/span&gt; in each group
        advance to [[#Playoffs|Playoffs]].\n** &lt;span class=&quot;bg-down&quot;&gt;Bottom
        2 teams&lt;/span&gt; in each group are eliminated.\n\n*''''''Playoffs''''''
        - ''''August 16th - 17th, 2025''''\n** Single Elimination Bracket\n** Quarterfinals
        were drawn randomly with 2-0 teams facing 2-1 teams.\n*** All matches are
        <template><title>Abbr/Bo7</title></template>.\n\n<template lineStart=\"1\"><title>box</title><part><name
        index=\"1\"/><value>start</value></part><part><name>padding</name><equals>=</equals><value>2em</value></part></template>\n\n<h
        level=\"3\" i=\"3\">===Prize Pool===</h>\n$1,000,000 <template><title>Abbr/USD</title></template>
        and [[esports:Esports_World_Cup/2025|EWC Club Points]] are spread among the
        teams as seen below:\n<template lineStart=\"1\"><title>TeamPrizePool</title><part><name>points</name><equals>=</equals><value>ewc25</value></part><part><name>cutafter</name><equals>=</equals><value>8</value></part><part><name>prizesummary</name><equ[...]
[...]
- request:
    method: get
    uri: https://liquipedia.net/rocketleague/api.php?action=parse&format=json&page=Esports_World_Cup/2025&prop=parsetree&section=11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.json
    body:
      encoding: ASCII-8BIT
      string: '{"parse":{"title":"Esports World Cup/2025","pageid":155697,"parsetree":{"*":"<root><h
        level=\"3\" i=\"1\">===<template><title>Stage</title><part><name index=\"1\"/><value>Playoffs</value></part></template>===</h>\n<template
        lineStart=\"1\"><title>Toggle bracket start</title><part><name>tournament</name><equals>=</equals><value>Esports
        World Cup/2025</value></part><part><name>matchsection</name><equals>=</equals><value>Playoffs</value></part><part><name>sdate</name><equals>=</equals><value>August
        16, 2025</value></part><part><name>countdown</name><equals>=</equals><value>true</value></part></template>\n<template
        lineStart=\"1\"><title>Bracket</title><part><name index=\"1\"/><value>Bracket/8</value></part><part><name>id</name><equals>=</equals><value>EWC2025POS</value></part><part><name>matchWidth</name><equals>=</equals><value>200</value></part><part><name>matchsection</name><equals>=</equals><value>Playoffs\n<comment>&lt;!--
        Quarterfinals --&gt;\n</comment></value></part><part><name>R1M1</name><equals>=</equals><value><template><title>Match\n    </title><part><name>opponent1</name><equals>=</equals><value><template><title>TeamOpponent</title><part><name
        index=\"1\"/><value>team falcons</value></part><part><name>score</name><equals>=</equals><value>4</value></part></template>\n    </value></part><part><name>opponent2</name><equals>=</equals><value><template><title>TeamOpponent</title><part><na[...]
